@charset "utf-8";

/* 闃叉鐢ㄦ埛鑷畾涔夎儗鏅鑹插缃戦〉鐨勫奖鍝嶏紝娣诲姞璁╃敤鎴峰彲浠ヨ嚜瀹氫箟瀛椾綋 */
html {
    color: #333;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility;
}

/* 濡傛灉浣犵殑椤圭洰浠呮敮鎸� IE9+ | Chrome | Firefox 绛夛紝鎺ㄨ崘鍦� <html> 涓坊鍔� .borderbox 杩欎釜 class */
html.borderbox *, html.borderbox *:before, html.borderbox *:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* 鍐呭杈硅窛閫氬父璁╁悇涓祻瑙堝櫒鏍峰紡鐨勮〃鐜颁綅缃笉鍚� */
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td, hr, button, article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    margin: 0;
    padding: 0;
}

/* 閲嶈 HTML5 鏍囩, IE 闇€瑕佸湪 js 涓� createElement(TAG) */
article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

/* HTML5 濯掍綋鏂囦欢璺� img 淇濇寔涓€鑷� */
audio, canvas, video {
    display: inline-block;
}

/* 瑕佹敞鎰忚〃鍗曞厓绱犲苟涓嶇户鎵跨埗绾� font 鐨勯棶棰� */
body, button, input, select, textarea {
    font: 300 1em/1 Microsoft Yahei, PingFang SC, Lantinghei SC, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

/* 鍘绘帀鍚凾able cell 鐨勮竟璺濆苟璁╁叾杈归噸鍚� */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 鍘婚櫎榛樿杈规 */
fieldset, img {
    border: 0;
}

/* 鍧�/娈佃惤寮曠敤 */
blockquote {
    position: relative;
    color: #999;
    font-weight: 400;
    border-left: 1px solid #1abc9c;
    padding-left: 1em;
    margin: 1em 3em 1em 2em;
}

@media only screen and ( max-width: 640px ) {
    blockquote {
        margin: 1em 0;
    }
}

/* Firefox 浠ュ锛屽厓绱犳病鏈変笅鍒掔嚎锛岄渶娣诲姞 */
acronym, abbr {
    border-bottom: 1px dotted;
    font-variant: normal;
}

/* 娣诲姞榧犳爣闂彿锛岃繘涓€姝ョ‘淇濆簲鐢ㄧ殑璇箟鏄纭殑锛堣鐭ラ亾锛屼氦浜掍粬浠篃鏈夋磥鐧栵紝濡傛灉浣犱笉鍘绘帀锛岄偅寰楀鑺辩偣鍙ｈ垖锛� */
abbr {
    cursor: help;
}

/* 涓€鑷寸殑 del 鏍峰紡 */
del {
    text-decoration: line-through;
}

address, caption, cite, code, dfn, em, th, var {
    font-style: normal;
    font-weight: 400;
}

/* 鍘绘帀鍒楄〃鍓嶇殑鏍囪瘑, li 浼氱户鎵匡紝澶ч儴鍒嗙綉绔欓€氬父鐢ㄥ垪琛ㄦ潵寰堝鍐呭锛屾墍浠ュ簲璇ュ綋鍘� */
ul, ol {
    list-style: none;
}

/* 瀵归綈鏄帓鐗堟渶閲嶈鐨勫洜绱�, 鍒浠€涔堥兘灞呬腑 */
caption, th {
    text-align: left;
}

q:before, q:after {
    content: '';
}

/* 缁熶竴涓婃爣鍜屼笅鏍� */
sub, sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
}

:root sub, :root sup {
    vertical-align: baseline; /* for ie9 and other modern browsers */
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}

/* 璁╅摼鎺ュ湪 hover 鐘舵€佷笅鏄剧ず涓嬪垝绾� */
a {
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

.typo a {
    border-bottom: 1px solid #000000;
}

.typo a:hover {
    border-bottom-color: #555;
    color: #555;
    text-decoration: none;
}

/* 榛樿涓嶆樉绀轰笅鍒掔嚎锛屼繚鎸侀〉闈㈢畝娲� */
ins, a {
    text-decoration: none;
}

/* 涓撳悕鍙凤細铏界劧 u 宸茬粡閲嶅洖 html5 Draft锛屼絾鍦ㄦ墍鏈夋祻瑙堝櫒涓兘鏄彲浠ヤ娇鐢ㄧ殑锛�
 * 瑕佸仛鍒版洿濂斤紝鍚戝悗鍏煎鐨勮瘽锛屾坊鍔� class="typo-u" 鏉ユ樉绀轰笓鍚嶅彿
 * 鍏充簬 <u> 鏍囩锛歨ttp://www.whatwg.org/specs/web-apps/current-work/multipage/text-level-semantics.html#the-u-element
 * 琚斁寮冪殑鏄� 4锛屼箣鍓嶄竴鐩存悶閿� http://www.w3.org/TR/html401/appendix/changes.html#idx-deprecated
 * 涓€绡囧叧浜� <u> 鏍囩鐨勫緢濂芥枃绔狅細http://html5doctor.com/u-element/
 */
u, .typo-u {
    text-decoration: underline;
}

/* 鏍囪锛岀被浼间簬鎵嬪啓鐨勮崸鍏夌瑪鐨勪綔鐢� */
mark {
    background: #fffdd1;
    border-bottom: 1px solid #ffedce;
    padding: 2px;
    margin: 0 5px;
}

/* 浠ｇ爜鐗囨柇 */
pre, code, pre tt {
    font-family: Courier, 'Courier New', monospace;
}

pre {
    background: #f8f8f8;
    border: 1px solid #ddd;
    padding: 1em 1.5em;
    display: block;
    -webkit-overflow-scrolling: touch;
}

/* 涓€鑷村寲 horizontal rule */
hr {
    border: none;
    border-bottom: 1px solid #cfcfcf;
    margin-bottom: 0.8em;
    height: 10px;
}

/* 搴曢儴鍗板埛浣撱€佺増鏈瓑鏍囪 */
small, .typo-small,
    /* 鍥剧墖璇存槑 */
figcaption {
    font-size: 0.9em;
    color: #888;
}

strong, b {
    font-weight: bold;
    color: #000;
}

/* 鍙嫋鍔ㄦ枃浠舵坊鍔犳嫋鍔ㄦ墜鍔� */
[draggable] {
    cursor: move;
}

.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    zoom: 1;
}

/* 寮哄埗鏂囨湰鎹㈣ */
.textwrap, .textwrap td, .textwrap th {
    word-wrap: break-word;
    word-break: break-all;
}

.textwrap-table {
    table-layout: fixed;
}

/* 鎻愪緵 serif 鐗堟湰鐨勫瓧浣撹缃�: iOS 涓嬩腑鏂囪嚜鍔� fallback 鍒� sans-serif */
.serif {
    font-family: Palatino, Optima, Georgia, serif;
}

/* 淇濊瘉鍧�/娈佃惤涔嬮棿鐨勭┖鐧介殧琛� */
.typo p, .typo pre, .typo ul, .typo ol, .typo dl, .typo form, .typo hr, .typo table,
.typo-p, .typo-pre, .typo-ul, .typo-ol, .typo-dl, .typo-form, .typo-hr, .typo-table, blockquote {
    margin-bottom: 1.2em
}

h1, h2, h3, h4, h5, h6 {
    font-family: Microsoft Yahei, PingFang SC, Verdana, Helvetica Neue, Hiragino Sans GB, Microsoft Sans Serif, WenQuanYi Micro Hei, sans-serif;
    font-weight: 100;
    color: #000;
    line-height: 1.35;
}

/* 鏍囬搴旇鏇磋创绱у唴瀹癸紝骞朵笌鍏朵粬鍧楀尯鍒嗭紝margin 鍊艰鐩稿簲鍋氫紭鍖� */
.typo h1, .typo h2, .typo h3, .typo h4, .typo h5, .typo h6,
.typo-h1, .typo-h2, .typo-h3, .typo-h4, .typo-h5, .typo-h6 {
    margin-top: 1.2em;
    margin-bottom: 0.6em;
    line-height: 1.35;
}

.typo h1, .typo-h1 {
    font-size: 2em;
}

.typo h2, .typo-h2 {
    font-size: 1.8em;
}

.typo h3, .typo-h3 {
    font-size: 1.6em;
}

.typo h4, .typo-h4 {
    font-size: 1.4em;
}

.typo h5, .typo h6, .typo-h5, .typo-h6 {
    font-size: 1.2em;
}

/* 鍦ㄦ枃绔犱腑锛屽簲璇ヨ繕鍘� ul 鍜� ol 鐨勬牱寮� */
.typo ul, .typo-ul {
    margin-left: 1.3em;
    list-style: disc;
}

.typo ol, .typo-ol {
    list-style: decimal;
    margin-left: 1.9em;
}

.typo li ul, .typo li ol, .typo-ul ul, .typo-ul ol, .typo-ol ul, .typo-ol ol {
    margin-bottom: 0.8em;
    margin-left: 2em;
}

.typo li ul, .typo-ul ul, .typo-ol ul {
    list-style: circle;
}

/* 鍚� ul/ol锛屽湪鏂囩珷涓簲鐢� table 鍩烘湰鏍煎紡 */
.typo table th, .typo table td, .typo-table th, .typo-table td, .typo table caption {
    border: 1px solid #ddd;
    padding: 0.5em 1em;
    color: #666;
}

.typo table th, .typo-table th {
    background: #fbfbfb;
}

.typo table thead th, .typo-table thead th {
    background: #f1f1f1;
}

.typo table caption {
    border-bottom: none;
}

/* 鍘婚櫎 webkit 涓� input 鍜� textarea 鐨勯粯璁ゆ牱寮�  */
.typo-input, .typo-textarea {
    -webkit-appearance: none;
    border-radius: 0;
}

.typo-em, .typo em, legend, caption {
    color: #000;
    font-weight: inherit;
}

/* 鐫€閲嶅彿锛屽彧鑳藉湪灏戦噺锛堝皯浜�100涓瓧绗︼級涓斿叏鏄叏瑙掑瓧绗︾殑鎯呭喌涓嬩娇鐢� */
.typo-em {
    position: relative;
}

.typo-em:after {
    position: absolute;
    top: 0.65em;
    left: 0;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    content: "銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓銉汇兓";
}

/* Responsive images */
.typo img {
    max-width: 100%;
}